{% extends "modelPage.html" %}
{% load static %}
{% block content %}



    <div class="titulo">
        <h1>Cadastrar Cliente</h1>
    </div>

    <div class="linhaAbas" >
        <div style="width: 5%"></div>
        <div class="btnpressionado" onclick="trocaaba('a1')" id="aba1" >
            Dados Básicos
        </div>
        <div class="btnnormal" onclick="trocaaba('a2')" id="aba2" >
            <a href="/cadastrar_cliente/?idclientelocal={{cliente.id}}">Locais</a>
        </div>
        <div class="btnnormal" onclick="trocaaba('a3')" id="aba3" >
            Contatos
        </div>
        <div style="color:white; padding: 15px;">
            {{ cliente.NOME }}
        </div>

    </div>

    <div id="a1" class="a1">
        <form method="post" action="submit">{% csrf_token %}
            <input value="{{cliente.id}}" type="number" name="id_cliente" maxlength="20" hidden>
            <div class="cxinputg">
                <label>NOME:</label>
                <br>
                <input value="{{ cliente.NOME }}" autocomplete="off" type="text" name="NOME"  maxlength="100">
            </div>
            <div class="cxinputp">
                <label>PF OU PJ:</label>
                <br>
                <select name="PFPJ">
                    {% if cliente.PFPJ == 'F' %}
                        <option value="F" selected>Física</option>
                        <option value="J">Jurídica</option>
                    {% else %}
                        <option value="F" >Física</option>
                        <option value="J" selected>Jurídica</option>
                    {% endif %}

                </select>
            </div>
            <div class="cxinputp">
                <label>CPF/CNPJ:</label>
                <br>
                <input value="{{cliente.CPFCNPJ}}" type="text" name="CPFCNPJ" maxlength="20">
            </div>
            <div class="cxinputm">
                <label>EMAIL1:</label>
                <br>
                <input value="{{cliente.EMAIL1}}" type="email" name="EMAIL1" maxlength="60">
            </div>
            <div class="cxinputm">
                <label>EMAIL2:</label>
                <br>
                <input value="{{cliente.EMAIL2}}" type="email" name="EMAIL2" class="vTextField" maxlength="60" id="id_EMAIL2">
            </div>
            <div class="cxinputalto">
                <br><br>
                <label>TELEFONES:</label><br>
                <input type="text" id="optText" name="optText">
                <br>
                <p onclick="addopt()" style="cursor: pointer; color: blue">Adicionar</p>

                <textarea rows="6" cols="20" id="telefones" name="telefones">{% if cliente.id %}{% for fone in cliente.TELEFONE.all %}{{ fone.TELEFONE }}
    {% endfor %}{% endif %}
                </textarea>
            </div>
            <br><br> <br><br> <br><br>
            <input type="submit" value="Salvar" class="btn" name="_save">
            <input type="submit" value="Salvar e adicionar outro(a)" class="btn" name="_addanother">
            <input type="submit" value="Salvar e continuar editando" class="btn" name="_continue">
        </form>
    </div>
    <div id="a2" class="a2">
        <form style="padding-top: 20px;" method="post" action="submitlocal">{% csrf_token %}
            <div style="width: 75%;display: inline-block;">
                <label>Locais Cadastrados:</label>
                <select id="Locais">{% if cliente.id %}{% for fone in cliente.TELEFONE.all %}{{ fone.TELEFONE }}
    {% endfor %}{% endif %} </select>
                <br>
            </div>
            <div style="width: 20%;display: inline-block;">
                <input value="{{cliente.id}}" hidden name="id_clientelocal" id="id_clientelocal">
                <br>
            </div>
            <div class="cxinputp">
                <label class="required" for="CEP">CEP:</label><br>
                <input type="text" name="CEP"  maxlength="20" required id="CEP">
            </div>
            <div class="cxinputm">
                  <label class="required" for="LOGRADOURO">LOGRADOURO:</label>
                  <input type="text" name="LOGRADOURO"  maxlength="100" required id="LOGRADOURO">
            </div>
            <div class="cxinputp">
                <label class="required" for="NUMERO">NÚMERO:</label>
                <input type="text" name="NUMERO" maxlength="10" required id="NUMERO">
            </div>
            <div class="cxinputm">
                <label for="REFERENCIA">PONTO DE REFERÊNCIA:</label>
                <input type="text" name="REFERENCIA" maxlength="100" id="REFERENCIA">
            </div>
            <div class="cxinputm">
                <label for="COORDENADAS">GEOCOORDENADAS:</label>
                <input type="text" name="COORDENADAS" maxlength="100" id="COORDENADAS">
            </div>
            <div class="cxinputm">
                <label for="AREA">ÁREA TOTAL(m²):</label>
                <input type="text" name="AREA" maxlength="100" id="AREA">
            </div>
            <div class="cxinputm">
                <label for="COMPARTIMENTOS">Nº DE COMPARTIMENTOS:</label>
                <input type="number" name="COMPARTIMENTOS" id="COMPARTIMENTOS">
            </div>
            <div class="cxinputm">
                <label for="BANHEIROS">Nº DE BANHEIROS:</label>
                <input type="text" name="BANHEIROS" class="vTextField" maxlength="100" id="BANHEIROS">
            </div>
            <div class="cxinputg">
                <label for="OBS">OBSERVAÇÕES:</label>
                <input type="text" name="OBS" class="vTextField" maxlength="200" id="OBS">
            </div>
            <br><br> <br><br> <br><br>
            <input type="submit" value="Salvar" class="btn" name="_save">
            <input type="submit" value="Salvar e adicionar outro(a)" class="btn" name="_addanother">
            <input type="submit" value="Salvar e continuar editando" class="btn" name="_continue">
        </form>
    </div>
    <div id="a3" class="a3">
        <div style="width: 100%">
            <label>Contatos cadastrados:</label>
            <select id="contatos"></select>
            <br>
        </div>

        <form style="padding-top: 20px" method="post" action="submitcontato">{% csrf_token %}
            <div class="cxinputm">
                <label>NOME:</label>
                <br>
                <input value="" autocomplete="off" type="text" name="NOMECONTATO"  maxlength="100">
            </div>
            <div class="cxinputm">
                <label>DEPARTAMENTO:</label>
                <br>
                <input value="" autocomplete="on" type="text" name="DEPARTAMENTO"  maxlength="100">
            </div>
            <div class="cxinputalto">
                <label>TELEFONES:</label><br>
                <input type="text" id="optTextctt" name="optTextctt">
                <br>
                <p onclick="addopt()" style="cursor: pointer; color: blue">Adicionar</p>
                <textarea rows="6" cols="20" id="telefonesctt" name="telefonesctt">
                </textarea>
            </div>
            <br><br> <br><br> <br><br>
            <input type="submit" value="Salvar" class="btn" name="_save">
            <input type="submit" value="Salvar e adicionar outro(a)" class="btn" name="_addanother">
            <input type="submit" value="Salvar e continuar editando" class="btn" name="_continue">
        </form>
    </div>

    <script type="javascript">

        window.onload = abreAba();
    </script>
{% endblock %}