{% extends "modelPage.html" %}

{% block content %}
<div class="titulo">
    <h1>Gerenciar Funcionários</h1>
</div>
<div class="linhaAbas" >
    <a class="btnbarra" href="/cadastrar_funcionario/">
        <button type="button">Cadastrar Funcionário</button>
    </a>
</div>
<div class="a1">
    <script type="3f8605136b33ed85c8ad5979-text/javascript">
        window.onload = CapturaParametrosUrl();
    </script>

        <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="3f8605136b33ed85c8ad5979-|49" defer=""></script>
        <br><br>
        <form style="width:100%; height: 40px" action="/filtro_funcionario/" method="GET">
            <div class="cxinputm">
                Nascidos de:<br>
                <input type="date" name="dt1">
            </div>
            <div class="cxinputm">
                a<br>
                <input type="date" name="dt2">
            </div>
            <div class="cxinputm">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome">
            </div>
            <div class="cxinputg">
                <div class="btnbarra">
                    <br>
                    <button type="submit">Filtrar</button>
                </div>
            </div>
            <div class="cxinputg"><label id="resultado"></label></div>
        </form>

    </div>
    <div class="a1">
        <table class="paleBlueRows">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Dt. Nascimento</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                     <tr>
                         <td class="colunag">{{ funcionario.NOME }}</td>
                         <td><select>
                                {% for fone in funcionario.TELEFONE.all %}
                                    <option>{{ fone.TELEFONE }}</option>
                                {% endfor %}
                            </select></td>
                         <td class="colunam">{{ funcionario.EMAIL }}</td>
                         <td class="colunam">{{ funcionario.DATA_NASCIMENTO }}</td>
                         <td class="colunap"><a href="/cadastrar_funcionario/?id={{funcionario.id}}">Editar</a>
                             <a href="/cadastrar_funcionario/delete/{{funcionario.id}}/"> Excluir </a></td>
                     </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}